body{
    --button: #646ff0;
	--buttonHover: #6470f0a6;
	--logo: #646681;
    --background: #dedfe1;

	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--gray-1: #eee;


    font-family: 'Poppins', sans-serif;
}