body{
    --button: #646ff0;
	--button-Hover: #6470f0a6;
	--backgroundButtonPopUp-hover: #e32525;
	--logo: #646681;
	--titlePopup: #646681;
    --background: #dedfe1;
	--popupBackground: #ecedf6;

	--black-2: #585858;
	--bg-1: #f8f8ff;
	--gray-1: #eee;


    font-family: 'Poppins', sans-serif;
}